.wpwc-menu { overflow: hidden; }
.wpwc-menu img.wpwc-logo { width: 198px; height: 90px; margin-top: 5px; }
.wpwc-menu a { text-decoration: none; }
.wpwc-menu div { float: left; }
.wpwc-menu div:nth-of-type(1) { width: 40%; }
.wpwc-menu div:nth-of-type(2) { width: 60%; }
.wpwc-menu ul { float: right; display: block; margin: 0; padding: 0; border-bottom: 3px solid #0c57a6; }
.wpwc-menu li { float: left; padding: 0 10px; }
.wpwc-menu .wpwc-quote { float: right; display: inline-block; width: 100% !important; margin: 0; padding: 10px 0; }
.wpwc-menu .wpwc-quote h2 { margin: 0; font-size: 1.25em; font-weight: 300; font-style: italic; line-height: 135%; text-align: right; }
.wpwc-menu .wpwc-quote h3 { margin: 5px 0 0 0; font-weight: normal; text-align: right; }

#wp-word-count .wpwc-main-stats { float: left; display: block; clear: both; width: 100%; margin: 25px 0px 0px 0px; }
#wp-word-count .wpwc-main-stats div { float: left; width: 32%; padding: 0; }
#wp-word-count .wpwc-main-stats div:nth-of-type(2) { padding: 0 2%; }
#wp-word-count .wpwc-main-stats div h3 { margin: 0; padding: 8px 10px; background-color: #0056a6; color: #ffffff; font-weight: normal; text-align: left; }
#wp-word-count .wpwc-main-stats div table { width: 100% !important; margin: 0 !important; padding: 0 !important; }
#wp-word-count .wpwc-main-stats div td { width: 25%; }
#wp-word-count .wpwc-main-stats div h2 { margin: 15px 0 0 0; padding: 0; font-size: 2.0em; text-align: center; line-height: 0.9em; }
#wp-word-count .wpwc-main-stats:first-of-type h2 { display: none; }
#wp-word-count .wpwc-main-stats div h2 span { font-size: 0.55em; font-weight: normal; }
#wp-word-count .wpwc-main-stats img { width: 100%; }

#wpwc-tabs { float: left; display: block; clear: both; width: 100%; margin: 25px 0px 0px 0px; }
#wpwc-tabs a.nav-tab-active { background-color: #ffffff; }

#wp-word-count table.widefat th { vertical-align: bottom; }
#wp-word-count table.widefat .wpwc-words { width: 10% !important; }
#wp-word-count table.widefat .wpwc-title { width: 55% !important; }
#wp-word-count table.widefat .wpwc-type { width: 10% !important; }
#wp-word-count table.widefat .wpwc-status { width: 10% !important; }
#wp-word-count table.widefat .wpwc-author { width: 15% !important; }

#wpwc-footer { float: left; display: block; clear: both; width: 100%; margin: 25px 0px; padding: 0; text-align: center; text-transform: uppercase; font-size: 14px; color: #464b50; }
#wpwc-footer img { width: 17px;	padding-top: 10px; -ms-interpolation-mode: bicubic; vertical-align: middle; margin: -14px 2px 0px 2px; }
#wpwc-footer a { color: #464b50; text-decoration: none; }

@media only screen and (min-width:768px) and (max-width:991px) {
	
	.wpwc-menu .wpwc-quote h2 { font-size: 1.10em; }
	.wpwc-menu .wpwc-quote h3 { font-size: 1.10em; }
	
	#wp-word-count .wpwc-main-stats div { margin-bottom: 35px; padding: 0; }
	#wp-word-count .wpwc-main-stats div:nth-of-type(1) { width: 47% !important; padding-right: 2% !important; }
	#wp-word-count .wpwc-main-stats div:nth-of-type(2) { width: 47% !important; padding-left: 2% !important; }
	#wp-word-count .wpwc-main-stats div:nth-of-type(3) { display: none; }
	
}

@media only screen and (max-width:767px) {
	
	.wpwc-menu img.wpwc-logo { display: block; margin: 5px auto; }
	.wpwc-menu div:nth-of-type(1) { width: 100%; }
	.wpwc-menu div:nth-of-type(2) { display: none; }
	
	#wp-word-count .wpwc-main-stats div { width: 100% !important; margin-bottom: 35px; padding: 0; }
	#wp-word-count .wpwc-main-stats div:nth-of-type(2) { padding: 0; }

}